#footer{
    display: flex;
    justify-content: space-between;
    background-color: map-get($map: $palette, $key:'colorCuatro' );// maps
}
footer{

    .footer_logoMap{
        display: inline;
    
    }
    .footer_logo{
        display: inline;
        width: 110px;
        height: 110px;
    }
    .footer_map{
        display: inline;
        height: 50px;
        width: 50px;
    }
    .footer_menu{
        text-decoration: none;
        padding: 5px;
        font-size: small;
        
    }
    .footer_list{
        padding: 0;
        text-decoration: none;
        list-style-type: none;
    }
        li a{
        color: map-get($map: $palette, $key:'colorUno' );// maps
        padding: 0;

        a{
        display: block;
        margin: 5px 0px;
        color: rgb(0, 0, 0);
    }
    }
    .footer_redes a{
        display: block;
        color: map-get($map: $palette, $key:'colorUno' );// maps
        padding: 0;
    }
}